<h2>Lista de Categorias: </h2>
<hr class="mb-2">
<a href="/admin/categorias/add"><button class="btn btn-outline-success">Nova Categoria</button></a>

{{#each categorias}}
<div class="card mt-4">
    <div class="card-body">
        <h4>{{nome}}</h4>
        <small>Slug: {{slug}}</small><br>
        <small>Data Criação: {{date}}</small>
        <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-outline-info btn-sm me-md-2">Editar</button></a>
                <form action="/admin/categorias/deletar" method="POST">
                    <input type="hidden" name="id" value="{{_id}}">
                    <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-outline-danger btn-sm">Deletar</button></a>
                </form>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="mt-2">
    <h4>Nenhuma Categoria disponível</h4>
</div>
{{/each}}