<h2 class="text-center h2">Postagens</h2>
<hr class="mb-2">
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<a href="/admin/postagens/add"><button class="btn btn-outline-success">Nova Postagem</button></a>
</div>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <p>Descrição: {{descricao}}</p>
        <p>Categoria: {{categoria.nome}}</p>
        <small>Data: {{date}}</small>
        <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-outline-info btn-sm btn-sm me-md-2">Editar</button></a>
                <form action="/admin/postagens/deletar" method="POST">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button class="btn btn-outline-danger btn-sm">Deletar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="mt-2">
    <h4>Nenhuma Postagem disponível</h4>
</div>
{{/each}}